<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.webhouding.ringtone"
      version="0.1.0">
    <name>ringtone</name>
    <description>Sample PhoneGap Select ringtone</description>
    <license>MIT</license>
    <keywords>phonegap,ringtone</keywords>
 
 
    <js-module src="www/ringtone.js" name="ringtone">
        <clobbers target="window.ringtone" />
    </js-module>
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ringtone">
                <param name="android-package" value="com.webhouding.ringtone.ringtone"/>
            </feature>
        </config-file>
 
        <source-file src="src/android/ringtone.java" target-dir="src/com/webhouding/ringtone" />      
     </platform>          
</plugin>